In [1]:
from policyengine_us import Microsimulation
from policyengine_core.reforms import Reform

reform = Reform.from_dict({
  "gov.states.ar.tax.income.credits.cdcc.match": {
    "2024-01-01.2100-12-31": 0.5
  }
}, country_id="us")


baseline = Microsimulation(dataset="enhanced_cps_2024")
reformed = Microsimulation(reform=reform, dataset="enhanced_cps_2024")
baseline_income = baseline.calculate("household_net_income", period=2024)
reformed_income = reformed.calculate("household_net_income", period=2024)
difference_income = reformed_income - baseline_income

/Users/pavelmakarchuk/anaconda3/envs/pe/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
state_code = baseline.calculate("state_code", period=2024)

In [5]:
import pandas as pd

# Get household weights for accurate aggregation
weights = baseline.calculate("household_weight", period=2024)

# Create a DataFrame with the results
results_df = pd.DataFrame({
    'state_code': state_code,
    'income_change': difference_income,
    'weight': weights
})

In [7]:

import numpy as np

# Calculate state-level statistics
state_impacts = (
    results_df
    .groupby('state_code')
    .agg({
        'income_change': lambda x: np.average(x, weights=results_df.loc[x.index, 'weight']),
        'weight': 'sum'
    })
    .reset_index()
)

In [8]:
state_impacts

   state_code  income_change        weight
0          AK       0.000000  1.300927e+06
1          AL       0.000000  2.061083e+06
2          AR       0.499333  2.623853e+06
3          AZ       0.000000  1.811828e+06
4          CA       0.000000  1.721643e+07
5          CO       0.000000  2.067666e+06
6          CT       0.000000  1.286733e+06
7          DC       0.000000  1.758616e+06
8          DE       0.000000  1.324696e+06
9          FL       0.000000  9.177355e+06
10         GA       0.000000  4.223767e+06
11         HI       0.000000  2.784426e+06
12         IA       0.000000  8.819877e+05
13         ID       0.000000  1.526216e+06
14         IL       0.000000  5.493315e+06
15         IN       0.000000  1.388967e+06
16         KS       0.000000  1.297734e+06
17         KY       0.000000  1.463718e+06
18         LA       0.000000  2.982018e+06
19         MA       0.000000  3.097472e+06
20         MD       0.000000  1.649181e+06
21         ME       0.000000  9.841775e+05
22         MI       0.000000  2.161492e+06
23         MN       0.000000  1.840129e+06
24         MO       0.000000  1.169299e+06
25         MS       0.000000  2.210168e+06
26         MT       0.000000  2.330340e+06
27         NC       0.000000  3.595397e+06
28         ND       0.000000  1.435068e+06
29         NE       0.000000  1.182832e+06
30         NH       0.000000  2.634180e+06
31         NJ       0.000000  2.737659e+06
32         NM       0.000000  2.221946e+06
33         NV       0.000000  2.906623e+06
34         NY       0.000000  6.404196e+06
35         OH       0.000000  3.630558e+06
36         OK       0.000000  2.243353e+06
37         OR       0.000000  2.342308e+06
38         PA       0.000000  3.918637e+06
39         RI       0.000000  5.724824e+05
40         SC       0.000000  2.500720e+06
41         SD       0.000000  7.741016e+05
42         TN       0.000000  2.714660e+06
43         TX       0.000000  1.116102e+07
44         UT       0.000000  1.942283e+06
45         VA       0.000000  2.147293e+06
46         VT       0.000000  9.029220e+05
47         WA       0.000000  2.586531e+06
48         WI       0.000000  2.490769e+06
49         WV       0.000000  2.507098e+06
50         WY       0.000000  1.514421e+06