In [1]:
import numpy as np
import pandas as pd
from policyengine_us import Microsimulation
from policyengine_core.reforms import Reform

/Users/pavelmakarchuk/anaconda3/envs/pe/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:

reform = Reform.from_dict({
  "gov.contrib.repeal_state_dependent_exemptions.in_effect": {
    "2025-01-01.2100-12-31": True
  }
}, country_id="us")


baseline = Microsimulation(dataset='pooled_3_year_cps_2023')
reformed = Microsimulation(reform=reform, dataset='pooled_3_year_cps_2023')
baseline_income = baseline.calculate("household_net_income", period=2025)
reformed_income = reformed.calculate("household_net_income", period=2025)
difference_income = reformed_income - baseline_income

In [3]:
difference_income.sum()

-6091587854.847457

In [4]:
# Get state codes
state_code = baseline.calculate("state_code", period=2025)

# Get household weights for accurate aggregation
weights = baseline.calculate("household_weight", period=2025)

# Create a DataFrame with the results
results_df = pd.DataFrame({
    'state_code': state_code,
    'income_change': difference_income,
    'weight': weights
})

# Calculate state-level statistics
state_impacts = (
    results_df
    .groupby('state_code')
    .agg({
        'income_change': lambda x: np.average(x, weights=results_df.loc[x.index, 'weight']),
        'weight': 'sum'
    })
    .reset_index()
)

In [5]:
# Calculate total income impact
total_impact_by_state = (
    results_df
    .groupby('state_code')
    .apply(lambda x: np.sum(x['income_change'] * x['weight']))
    .reset_index(name='total_income_impact')
)

# Merge total impact into main results
state_impacts = state_impacts.merge(total_impact_by_state, on='state_code')

# Add households affected
state_impacts['households_affected'] = (
    results_df[results_df['income_change'] != 0]
    .groupby('state_code')['weight']
    .sum()
    .reindex(state_impacts['state_code'])
    .fillna(0)
)

# Calculate percentage of households affected
state_impacts['percent_households_affected'] = (
    state_impacts['households_affected'] / state_impacts['weight'] * 100
)

# Format the results
state_impacts['avg_income_change'] = state_impacts['income_change'].round(2)
state_impacts['total_income_impact'] = (state_impacts['total_income_impact'] / 1_000_000).round(3)
state_impacts['households_affected'] = state_impacts['households_affected'].round(0)
state_impacts['percent_households_affected'] = state_impacts['percent_households_affected'].round(2)
state_impacts['weight'] = state_impacts['weight'].round(0)

# Sort by total impact
state_impacts_sorted = state_impacts.sort_values('total_income_impact')

# Rename columns for clarity
state_impacts_sorted = state_impacts_sorted.rename(columns={
    'weight': 'total_households',
    'avg_income_change': 'avg_income_change_per_household',
    'total_income_impact': 'total_state_income_impact'
})

# Calculate national totals
national_totals = pd.DataFrame({
    'state_code': ['TOTAL'],
    'total_households': [state_impacts_sorted['total_households'].sum()],
    'avg_income_change_per_household': [(state_impacts_sorted['total_state_income_impact'].sum() / 
                                       state_impacts_sorted['total_households'].sum())],
    'total_state_income_impact': [state_impacts_sorted['total_state_income_impact'].sum()]
})

# Combine state results with national totals
final_results = pd.concat([state_impacts_sorted, national_totals])

# Display results
print("\nState-by-State Impact Analysis:")
print(final_results[[
    'state_code',
    'total_households',
    'avg_income_change_per_household',
    'total_state_income_impact'
]].to_string())

State-by-State Impact Analysis:
   state_code  total_households  avg_income_change_per_household  total_state_income_impact
4          CA        14531141.0                      -168.119995                  -2442.917
22         MI         4277382.0                      -113.279999                   -484.533
10         GA         4398419.0                       -94.610001                   -416.124
23         MN         2371857.0                      -172.839996                   -409.952
14         IL         5246896.0                       -61.740002                   -323.962
34         NY         7987400.0                       -28.860001                   -230.489
40         SC         2247520.0                      -101.629997                   -228.414
31         NJ         3619377.0                       -45.480000                   -164.620
20         MD         2346259.0                       -53.090000                   -124.572
35         OH         5050174.0                       -24.020000                   -121.291
3          AZ         2975793.0                       -35.650002                   -106.090
45         VA         3532498.0                       -26.370001                    -93.138
27         NC         4606217.0                       -18.680000                    -86.054
44         UT         1163523.0                       -70.320000                    -81.815
13         ID          778224.0                      -105.120003                    -81.810
29         NE          808970.0                      -101.089996                    -81.779
21         ME          615702.0                      -130.309998                    -80.230
36         OK         1644905.0                       -47.430000                    -78.016
15         IN         2836545.0                       -17.780001                    -50.446
48         WI         2589397.0                       -17.920000                    -46.391
26         MT          500444.0                       -86.610001                    -43.344
39         RI          468489.0                       -82.699997                    -38.743
17         KY         1908343.0                       -19.610001                    -37.423
25         MS         1215399.0                       -27.450001                    -33.367
46         VT          295826.0                      -111.870003                    -33.095
12         IA         1379908.0                       -22.940001                    -31.649
49         WV          759445.0                       -40.330002                    -30.626
1          AL         2144474.0                       -12.310000                    -26.406
32         NM          893062.0                       -28.639999                    -25.582
8          DE          415126.0                       -51.410000                    -21.344
11         HI          506686.0                       -40.430000                    -20.484
2          AR         1293726.0                       -12.240000                    -15.839
19         MA         2850422.0                        -0.350000                     -0.994
16         KS         1229628.0                        -0.040000                     -0.050
43         TX        11493119.0                         0.000000                      0.000
42         TN         3021187.0                         0.000000                      0.000
41         SD          389622.0                         0.000000                      0.000
47         WA         3221652.0                         0.000000                      0.000
0          AK          278742.0                         0.000000                      0.000
37         OR         1772383.0                         0.000000                      0.000
33         NV         1280402.0                         0.000000                      0.000
30         NH          598043.0                         0.000000                      0.000
28         ND          342073.0                         0.000000                      0.000
24         MO         2600237.0                         0.000000                      0.000
18         LA         1891554.0                         0.000000                      0.000
9          FL         9430827.0                         0.000000                      0.000
7          DC          333908.0                         0.000000                      0.000
6          CT         1520825.0                         0.000000                      0.000
5          CO         2468332.0                         0.000000                      0.000
38         PA         5427422.0                         0.000000                      0.000
50         WY          245537.0                         0.000000                      0.000
0       TOTAL       135805040.0                        -0.000045                  -6091.589

In [6]:
final_results.to_csv('state_impacts_detailed.csv', index=False)

In [7]:
# Get required variables
state_codes = baseline.calculate("state_code", period=2025)
num_children = baseline.calculate("tax_unit_children", map_to='household', period=2025)
baseline_tax = baseline.calculate("state_income_tax_before_refundable_credits", map_to='household', period=2024)
reformed_tax = reformed.calculate("state_income_tax_before_refundable_credits", map_to='household', period=2024)

# Create results DataFrame
results = pd.DataFrame({
    'state_code': state_codes,
    'num_children': num_children,
    'zero_tax_both': (np.abs(baseline_tax) < 0.01) & (np.abs(reformed_tax) < 0.01)
})

# Get household weights
weights = baseline.calculate("household_weight", period=2024)

# Add weights to results DataFrame
results['weight'] = weights

# Calculate weighted total children by state
total_children = (
    results
    .groupby('state_code')
    .apply(lambda x: np.sum(x['num_children'] * x['weight']))
    .reset_index(name='total_children')
)

# Calculate weighted children with zero tax in both scenarios
zero_tax_children = (
    results[results['zero_tax_both']]
    .groupby('state_code')
    .apply(lambda x: np.sum(x['num_children'] * x['weight']))
    .reset_index(name='children_zero_tax')
)

# Rest of the code remains the same
state_results = total_children.merge(zero_tax_children, on='state_code', how='left')
state_results['percent_zero_tax'] = (
    state_results['children_zero_tax'] / state_results['total_children'] * 100
).round(1)

state_results = state_results.sort_values('percent_zero_tax', ascending=False)
print("\nChildren in households with zero tax in both scenarios (weighted):")
print(state_results.to_string(float_format=lambda x: f"{x:,.1f}"))

Children in households with zero tax in both scenarios (weighted):
   state_code  total_children  children_zero_tax  percent_zero_tax
2          AR       674,472.9          190,476.5              28.2
32         NM       460,692.2          129,421.1              28.1
18         LA     1,041,173.6          287,304.2              27.6
25         MS       628,728.5          168,819.7              26.9
1          AL       998,394.1          268,625.9              26.9
17         KY     1,014,110.9          254,769.5              25.1
36         OK       959,907.1          240,113.7              25.0
49         WV       378,390.8           87,248.9              23.1
40         SC     1,179,198.5          264,245.2              22.4
27         NC     2,249,389.3          500,394.7              22.2
43         TX     7,005,303.5        1,511,229.6              21.6
3          AZ     1,462,526.9          302,195.0              20.7
7          DC        96,331.9           19,736.5              20.5
33         NV       673,833.6          137,448.7              20.4
10         GA     2,362,779.7          472,573.8              20.0
22         MI     2,146,789.0          426,595.4              19.9
9          FL     4,147,576.2          820,765.7              19.8
8          DE       218,417.0           42,714.4              19.6
34         NY     3,695,491.9          722,195.4              19.5
21         ME       233,491.6           43,915.7              18.8
38         PA     2,522,784.9          470,198.3              18.6
35         OH     2,536,852.3          469,208.6              18.5
24         MO     1,491,649.4          274,968.5              18.4
16         KS       724,014.4          126,574.0              17.5
4          CA     7,696,760.0        1,327,456.8              17.2
42         TN     1,510,758.1          253,839.9              16.8
11         HI       293,633.5           48,603.6              16.6
28         ND       193,633.3           31,849.0              16.4
48         WI     1,360,253.0          216,446.1              15.9
45         VA     1,844,934.6          291,574.5              15.8
0          AK       183,148.1           28,983.4              15.8
19         MA     1,358,034.5          214,287.2              15.8
14         IL     2,708,379.5          427,662.1              15.8
31         NJ     1,897,915.1          274,861.4              14.5
39         RI       209,629.1           30,411.1              14.5
15         IN     1,694,145.8          241,712.4              14.3
46         VT       121,618.4           17,258.6              14.2
41         SD       211,732.2           29,992.9              14.2
26         MT       244,193.4           34,073.7              14.0
6          CT       688,378.7           96,338.9              14.0
50         WY       138,866.8           19,347.6              13.9
12         IA       807,211.3          102,575.1              12.7
20         MD     1,287,321.9          162,304.1              12.6
30         NH       268,315.1           32,842.4              12.2
37         OR       857,948.7          103,407.1              12.1
23         MN     1,286,774.4          155,286.9              12.1
47         WA     1,706,458.2          204,042.9              12.0
5          CO     1,192,968.0          139,685.5              11.7
13         ID       503,665.4           53,597.1              10.6
44         UT       943,210.6           95,065.9              10.1
29         NE       506,348.8           39,077.0               7.7